@import 'colors';

button {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 240px;
    margin: 20px auto 0;
}

* {
    outline: none;
    box-sizing: border-box;
}

h1 {
    max-width: 660px;
    margin: 60px auto 0px;
    text-align: center;
    color: #333;
}

.netlify-identity-button {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: 600;
}
